* {
  margin: 0;
}

.App {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  margin: 10px;
}

.card1 {
  align-items:center;
  justify-content: center;
  align-self: flex-start;
  border-radius: 20px;
  width: 425px;
  height: 600px;
}

.card1:hover {
  cursor: pointer;
  border: solid yellow 2px;
  transform: scale(1.02);
}

.card2 {
  align-items:center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 20px;
  width: 425px;
  height: 600px;
}

.card2:hover {
  cursor: pointer;
  border: solid yellow 2px;
  transform: scale(1.02);
}